package views

import "github.com/leggettc18/job-tracker/types"
import "github.com/leggettc18/job-tracker/components"

templ Jobs(jobs []types.Job, isAddingJob bool) {
@Page(true) {
    <div class="flex">
        @components.JobsList(jobs)
    </div>
}
}
